@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');


.text {
  max-height: 300px;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
  color : rgb(4, 4, 112);
  font-family: Arial, Helvetica, sans-serif;
  

}


.perso{
  z-index: 5;
  border:none !important;
  border-radius:50px !important;
  width: 60px;
}
.card {
  box-shadow: 0 4px 8px rgb(139, 138, 138);
  position: relative;
  width: 30%;
  border-radius: 10%;
}

.not{
  &:before {
  content: "";
  position: absolute;
  top: 10;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  height: 50%;
  background: linear-gradient(to top, rgba(255, 255, 255, 255), transparent);
  }
}
.expanded {
  max-height: 1000px;
}

.alternating-content {
  counter-reset: text;
}

.alternating-text:before {
  counter-increment: text;
  content: counter(text) ".";
  display: inline-block;
  width: 20px;
  margin-right: 5px;
  color: #007bff;
  font-weight: bold;
}

.alternating-text:nth-child(even):before {
  color: #dc3545;
}